@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
:root {
    --beige-base-color: #DC7649;
    --main-text-color1: #FCDBBA;
    --main-dark-text-color: #363232;
    --blue-sporadic-color: #918F97;
    --brown-lat-color: #664135;
    --beige-mia-color: #FBDCBA;
    --dark-brown-color: #7B3000;
}

body {
    justify-content: space-around;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;

}

#header {
    display: flex;
    width: 100vw;
    height: 150px;
    background: linear-gradient(
        180deg,
        var(--brown-lat-color)0%,
        var(--brown-lat-color)5%,
        var(--beige-mia-color)90%,
        var(--beige-mia-color)100%
    );
    margin-bottom: 0px;
    
}

#header > img {
    display: flex;
    align-content: flex-start;
    width: 200px;
    height: 200px;
    padding-left: 50px;
    align-self: center;
    
}

nav {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 50px;
    padding-left: 280px;

}

a {
    text-decoration: none;
    background-color: var(--beige-mia-color);
    width: 140px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--brown-lat-color);
    text-shadow: black .3px .5px;
    box-shadow: var(--main-dark-text-color) 2px 2px 10px 3px;
    transition: all 300ms ease-in-out;
}

a:hover {
    width: 142px;
    height: 31px;
    background-color: var(--brown-lat-color);
    color: var(--beige-mia-color);
}


#banner {
    display: flex;
    width: 100vw;
    height: 280px;
    border-radius: 5px;
    opacity: 75%;
}

#banner > img {
    display: flex;
    justify-content: left;
    align-self: center;
    width: 100vw;
    margin-top: 300px;
    height: 580px;
    border-color: #664135;
    border-style: solid;
    border-width: 0px;
}

#container {

}

#container-form {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    background-color: var(--brown-lat-color);
    justify-self: right;
    margin-right: 50px;
    padding-top: 200px;
    width: 800px;
    height: 250px;
    position: relative;
    opacity: 80%;
    text-align: center;
}