
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
:root {
    --blue-logo-color: #88c4d7;
    --blue-bg-color: #88c5d7a4;
    --gray-logo-color: #7d7473;
    --main-white: #fdfdfc;
    --positive-green: #d0fbe5;
    --bold-green: #278765;
    --large-text-black: #292524;
    --small-text-black: #201b1a;
}

body {
    width: 100vw;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    color: var(--small-text-black);
    font-weight: 300;
    font-style: normal;
    margin: 0;

}

#header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100px;
    background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
    );
}

#header > img {
    display: flex;
    align-content: flex-start;
    position: relative;
    width: 150px;
    height: 150px;
    align-self: center;
    margin-right: -120px;
    margin-left: 100px;
}

#header > nav {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 50px;
    padding-left: 350px;

}

#header > nav > a {
    text-decoration: none;
    width: 140px;
    height: 30px;
    text-align: center;
    color: var(--large-text-black);
    font-size: 22px;
    font-weight: normal;
    transition: all 250ms ease-in-out;
}

#header > nav > a:hover {
    color: var(--gray-logo-color);
    text-shadow: var(--main-white) 0.5px 0.5px 0.5px;
    transform: translateY(-3px);
}

.banner {
    display: flex;
    width: 100vw;
    height: 500px;
    padding-top: 200px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    /*background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
    );*/

}

.banner-message1 {
    width: 50vw;
    height: 300px;
    margin-top: 50px;
    padding-top: 50px;
    margin-left: -75px;

}

.banner-message1 > h1 {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    justify-self: center;
    color: var(--large-text-black);
    
}

.banner-message1 > h3 {
    font-size: 22px;
    margin-top: 50px;
    position: relative;
    text-align: left;
    width: 500px;
    justify-self: center;
    font-weight: 300;
    text-align: justify;
    color: var(--gray-logo-color);

}

.banner-img {
    align-self: center;
    padding-left: 50px;
}

.title-servicos > h1 {
    margin: 0;
    width: 100vw;
    text-align: center;
    /*background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
     ); */ 
}

.servicos {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    gap: 250px;          
    flex-wrap: wrap;          
    padding: 20px;
    /*background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
     );*/  
}

.servico-atendimento {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.servico-atendimento > img {
    width: 200px;
    margin: -50px;
}

.servico-atendimento:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px ;
    transform: translateY(-5px);
}

.servico-banho-e-tosa {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.servico-banho-e-tosa > img {
    width: 200px;
    margin: -50px;
}

.servico-banho-e-tosa:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px ;
    transform: translateY(-5px);
}

.servico-vacinacao {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.servico-vacinacao > img {
    width: 200px;
    margin: -50px;
}

.servico-vacinacao:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px ;
    transform: translateY(-5px);
}

.servicos2 {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    gap: 250px;          
    flex-wrap: wrap;          
    padding: 20px;
    /*background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
     );*/  
}

.doc-para-viagens {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.doc-para-viagens > img {
    width: 200px;
    margin: -50px;
}

.doc-para-viagens:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px ;
    transform: translateY(-5px);
}

.cirurgias {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.cirurgias > img {
    width: 200px;
    margin: -50px;
}

.cirurgias:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px ;
    transform: translateY(-5px);
}

.nutricao {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;   
  align-items: center;      
  text-align: center;  
  border-radius: 8px;
  padding: 50px;
  min-width: 120px;
  transition: all 250ms ease-in-out;
}

.nutricao > img {
    width: 200px;
    margin: -50px;
}

.nutricao:hover {
    box-shadow: var(--gray-logo-color) 2px 2px 2px;
    transform: translateY(-5px);
}

.container-agendamento {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    gap: 250px;          
    flex-wrap: wrap;          
    padding: 20px;
    background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--blue-bg-color)50%,
        var(--blue-bg-color)100%
     );
     padding: 100px;  
}

.agendamento-mensagem h1 {
    display: flex;
    font-size: 35px;
    padding-bottom: 30px;

}

.agendamento-mensagem p {
    display: flex;
    font-size: 22px;
    justify-content: center;
    width: 460px;
    color: var(--gray-logo-color);
}


form {
    display: block;
    unicode-bidi: isolate;
    
}

.form-board {
    background-color: var(--main-white);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 25px var(--gray-logo-color);
    z-index: 1;
    width: 500px;
    height: 800px;
}

.form-item label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--small-text-black);
    font-size: 18px;
    margin-top: 10px;

}

.form-item input, .form-item select {
    width: 100%;
    padding: 7px 2px;
    border: 1.5px solid var(--gray-logo-color);
    border-radius: 8px;
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 20px;

}

.button-submit {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(
        180deg,
        var(--blue-bg-color)0%,
        var(--blue-logo-color)100%
     );
     color: var(--small-text-black);
     border-radius: 10px;
     font-size: 18px;
     margin-top: 50px;
     cursor: pointer;
     transition: all 250ms ease-in-out;
     box-shadow: 0.5px 1px var(--gray-logo-color);

}

.button-submit:hover {
    background: linear-gradient(
        280deg,
        var(--blue-bg-color)0%,
        var(--blue-logo-color)100%
     );
     box-shadow: 2px 2px 2px var(--gray-logo-color);
     transform: translateY(-3px);

}

.testimonials-container {
    display: flex;            
    justify-content: center;      
    gap: 150px;
    margin-top: 0px;          
    flex-wrap: wrap;          
    padding: 100px;
    
}

.testimonials-container h1{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: -100px;

}

.testimonial-box {
    display: flex;
    background: var(--main-white);
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 16px;
    box-shadow: var(--gray-logo-color) 2px 2px 2px 2px;
    transition: all 300ms ease-in-out
}

.testimonial-box:hover {
    transform: translateY(-5px);
    box-shadow: var(--gray-logo-color) 4px 4px 4px 4px;
}

.testimonial-avatar {
    display: flex;
    padding: 10px;
    width: 48px;
    height: 50px;
}

.testimonial-avatar img {
    position: inherit;
    width: 48px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--blue-bg-color); 
}

.avatar-id h4 {
    display: flex;
    text-align: justify;
    padding-left: 10px;    
}

.avatar-id-title {
    display: flex;
    font-size: 13px;
    justify-content: left;
    margin-left: 78px;
    margin-top: -48px;
    width: 100%;
}

.testimonial-review {
    display: flex;

}

.complemento-vendas {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 100px;
}

.complemento-vendas h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    margin-top: -50px;
    margin-bottom: -100px;
    
}

.venda-box {
    width: 400px;
    height: 400px;
    overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    border-radius: 16px;
    box-shadow: var(--gray-logo-color) 2px 2px 2px 2px;
    transition: all 250ms ease-in-out;
}

.venda-box:hover {
    transform: translateY(-5px);
    box-shadow: var(--gray-logo-color) 4px 4px 4px 4px;
}

.venda-box-img {
    width: 100%;
    height: 200px;
    background-size: cover;

}

.box-img-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.venda-box-text {
    padding: 2rem;
    font-size: 20px;
    padding-top: 2px;
    
}


.footer {
    width: 100vw;
    text-align: center;
    background-color: var(--main-white);
    height: 100px;
    align-content: center;
}




