
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
:root {
    --green-logo-color: #2d8765;
    --main-white: #fdfdfc;
    --positive-green: #d0fbe5;
    --bold-green: #277a55;
    --large-text-black: #292524;
    --small-text-black: #201b1a;
}

body {
    width: 100vw;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    color: var(--small-text-black);
    font-weight: 300;
    font-style: normal;
    margin: 0;
    background-color: var(--main-white);

}

#header {
    display: flex;
    position: static;
    width: 100vw;
    height: 100px;
    background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--positive-green)50%,
        var(--positive-green)100%
    );
    
}

#header > img {
    display: flex;
    align-content: flex-start;
    position: relative;
    width: 300px;
    height: 300px;
    align-self:center;
    margin-right: -100px;
    margin-left: -50px;
}

#header > nav {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 50px;
    padding-left: 350px

}

#header > nav > a {
    text-decoration: none;
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: var(--small-text-black);
    transition: all 250ms ease-in-out;
}

a:hover {
    color: var(--green-logo-color);
    text-shadow: black .2px .2px .2px .2px;
    font-weight: normal;
}

.banner {
    display: flex;
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center;
     background: linear-gradient(
        90deg,
        var(--main-white)0%,
        var(--positive-green)50%,
        var(--positive-green)100%
    );

}

.banner-message1 {
    width: 50vw;
    height: 400px;

}

.banner-message1 > h1 {
    flex-direction: 1;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    justify-self: center;
}

.banner-message1 > h3 {
    flex: 1;
    margin-top: 50px;
    position: relative;
    text-align: left;
    width: 500px;
    justify-self: center;

}